*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.pyc
__pycache__/
venv/
.env
.idea/
uploads/
pdfs/
resized/
.vercel
*.log
node_modules/

.vercel
